# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


1.坚持早起。
2.散散步。
3.多喝水。
4.别总吃太饱，饮食尽量清淡、健康。
5.做做自己喜欢的事。
6.学会慢半拍。
7.清理自己的房间、电脑。
8.冥想静心。
9.别老订计划。
10.看轻得失。
